* {
	font-family: "Montserrat", sans-serif;
}
.body {
	display: flex;
	gap: 30px;
	justify-items: center;
	align-items: center;
}
.main {
	width: 300px;
	display: flex;
	flex-direction: row;
}

img {
	margin: 30px;
	height: 60vh;
}
h1 {
	color: #8b192a;
}
.text_intro {
	width: 700px;
}
.caps {
	text-transform: uppercase;
}
.bad_race_result_text {
	font-size: 10px;
	height: 15px;
}
.divbox {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 34px;
}
.resultbox {
	background-color: #c46170;
	display: flex;
	justify-content: center;
	width: 700px;
	padding: 10px;
	border-radius: 5px;
	color: white;
}
.resultboxGood {
	background-color: #61bcc4;
	display: flex;
	justify-content: center;
	width: 700px;
	padding: 10px;
	border-radius: 5px;
	color: white;
}
.resultboxBad {
	background-color: #281114;
	display: flex;
	justify-content: center;
	width: 700px;
	padding: 10px;
	border-radius: 5px;
	color: white;
}

.button {
	all: unset;
	background-color: #8b192a;
	padding: 5px;
	display: flex;
	justify-content: center;
	width: 80px;
	border-radius: 5px;
	color: white;
	&__restart {
		background-color: black;
	}
}
.points_box {
	display: flex;
	width: 700px;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.players_box {
	display: flex;
	width: 100%;

	justify-content: space-around;
}
.points {
	font-weight: 400;
	color: #8b192a;
}

.player {
	text-align: justify;
	width: 200px;
}
.restart {
	all: unset;
	background-color: black;
	padding: 5px;
	display: flex;
	justify-content: center;
	width: 130px;
	border-radius: 5px;
	color: white;
}
.collapsed {
	display: none;
}
.done{
	text-decoration: line-through;
}
.notdone{
	text-decoration:none;
}