@import './core/reset.scss';
* {
	font-family: "Montserrat", sans-serif;

}
body{
	margin: 30px;
	background-color: #dcfffa;
}
.message{
	padding-bottom: 30px;
	color: rgb(209, 8, 8);
}
.body {
	display: flex;
	flex-direction: column;
	gap: 30px;
	justify-items: center;
	align-items: center;

}
.superdivtable{
	display: flex;
	justify-content: center;
}
.table {
	padding: 20px;
	color: white;
	margin: 30px;
	width: 1200px;

	text-align: center;

	font-size: medium;
}

td {
	width: 400px;
	padding: 20px;
	background-color: #015266;

}

.socialmedialist{
	list-style: none;
	display: inline;

	padding: 10px;

}

.thead{
	padding: 20px;
	height: 40px;
	margin: 30px;
	background-color: #003542;

}
h1 {
	color:#015266;
}
.formsearch{
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 20px;
}
.divadd{
	display: flex;
	flex-direction: column;
	gap: 20px;
	
}
.formadd{
	
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 20px;
	margin: 40px;
}
.formbox{
	display: grid;
	grid-template-columns: 1fr 1fr;
	width: 300px;
}
.button {
	all: unset;
	background-color:#015266;
	padding: 10px;
	display: flex;
	justify-content: center;

	border-radius: 5px;
	color: white;

}